@font-face {
  font-family: "RubikRegular";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype"),
    url("../fonts//Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RubikBold";
  src: url("../fonts/Rubik-Bold.ttf") format("truetype"),
    url("../fonts//Rubik-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinTextCondProRegular";
  src: url("../fonts/PFDinTextCondPro-Regular.ttf") format("truetype"),
    url("../fonts//PFDinTextCondPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinTextCondProMedium";
  src: url("../fonts/PFDinTextCondPro-Medium.ttf") format("truetype"),
    url("../fonts//PFDinTextCondPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "RubikRegular";
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  outline: none;
  color: white;
}
i {
  outline: none;
}
body span,
p {
  word-break: normal !important;
}
nav,
nav i {
  color: white !important;
}
ul,
li {
  padding: 0;
  margin: 0;
}

.base-width {
  max-width: 1928px;
  margin: 0 auto;
}
.shadowed {
  box-shadow: 2px 1px 6px #6161614d;
}
.flex-row {
  flex-direction: row;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.table-area td {
  border-color: #ffffff;
}
.table-area th {
  font-family: "PFDinTextCondProRegular";
  color: #ffffff;
  font-weight: 100;
  background: #656565;
  padding: 0.6rem 0;
  text-transform: uppercase;
}
.el-table .cell {
  word-break: break-word !important;
}
.success-row {
  background: #e6f9dc !important;
}
.danger-row {
  background: #ffbdbd66 !important;
}
.warning-row {
  background: #fdfccf87 !important;
}
.footer-inner-left,
.footer-inner-right {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.footer-inner-left {
  justify-content: space-between;
}
.footer-inner-right {
  justify-content: flex-end;
}
.copyright {
  font-size: 15px;
  min-width: 350px;
}
.el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.el-popup-parent--hidden {
  padding-right: 0 !important;
}
.el-dialog {
  margin-top: 10vh;
}
.el-dialog__header {
  padding: 1rem;
  text-align: left;
  background: #22969c;
  border-top: 2px white solid;
}
.el-dialog__header > span {
  font-size: 16px;
  color: white !important;
}
.el-dialog__header button > i {
  color: white !important;
}
.f-btn-group {
  margin: 2rem auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.f-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  min-height: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in;
  border: 1px #1e969c7a dashed;
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0.1rem;
}
.f-btn:hover {
  background: #1e969c;
  color: white;
}
.f-btn:hover svg {
  color: white;
}
.f-btn i,
.f-btn svg {
  color: #006d63;
  margin: 0 0.5rem;
}
.f-btn-inactive {
  pointer-events: none;
  opacity: 0.4;
}
.form-heading {
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}
.form-wrapper {
  max-width: 90%;
  padding: 0 4.5rem 4.5rem 4.5rem;
  max-height: 88vh;
  overflow-y: auto;
  background: #f7f7f7;
}
.form-item {
  margin: 1rem;
}
.form-label {
  color: grey;
  margin: 0.5rem 0;
  font-size: 14px;
}
.form-item .el-select {
  width: 100%;
  margin: 0.2rem 0;
}
#yandex-map {
  height: 100%;
  width: 100%;
}
.ym-pm-category {
  color: grey;
  font-weight: normal;
  font-size: 13px;
  margin-top: 0.4rem;
}
.ym-pm-wrapper,
.ym-pm-link {
  font-family: "RubikRegular";
}
.ym-pm-address {
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px grey dotted;
}
.ym-pm-link,
.ym-pm-hint {
  font-size: 13px;
}
.ym-pm-link a {
  color: #1e969c;
}
.ym-pm-preview-text {
  font-size: 12px;
  color: grey;
  padding: 0.5rem 0;
}
.ym-pm-picture {
  height: 150px;
  max-width: 250px;
  margin: 0.5rem auto;
}
.ym-pm-item {
  padding: 5px 0;
  border-bottom: 1px #8080801c solid;
}
.not-found {
  color: black;
  text-align: center;
}
.el-select-dropdown__wrap {
  margin-bottom: -5px !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #9b9999;
  height: 5px;
  border-radius: 3px;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}
.sub-heading,
.heading {
  font-family: "PFDinTextCondProMedium";
  text-transform: uppercase;
}
.sub-heading {
  color: black;
  padding: 0.7rem;
  font-size: 16px;
  background: #b7b7b721;
}
.sub-heading.btn-group {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  min-height: 33px;
  background: none;
  text-transform: initial;
}
.sub-heading.btn-group button {
  border-radius: 0 !important;
  max-height: 41px;
}
.section-heading {
  padding: 1rem;
  text-transform: uppercase;
  background: none;
}
.description {
  color: grey;
  padding: 0.5rem;
}
.description-item {
  margin: 0.7rem 0;
}
.description-value {
  color: black;
}
.description-label {
  font-size: 15px;
  margin-right: 0.5rem;
}
.el-slider__button {
  border: 2px solid #2f9fa5;
}
.el-slider__bar {
  background-color: #2f9fa5;
}
.el-textarea__inner {
  font-family: "RubikRegular" !important;
}
.multiple-upload div {
  width: 100%;
}
.a-center {
  text-align: center !important;
}
.a-left {
  text-align: left !important;
}
.a-right {
  text-align: right !important;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-center {
  justify-content: center !important;
}
.flex-end {
  justify-content: flex-end !important;
}
.align-center {
  align-items: center !important;
}
.image-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 0.5rem;
}
.image-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.empty-image {
  height: 100%;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  color: grey;
}
.images-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images-wrapper .image-item {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.images-wrapper .image-item img {
  margin: 0.5rem;
}
.card-wrapper {
  margin: 0.5rem 0.2rem;
}
.card-wrapper .el-card__header {
  color: white;
  background: #2f9fa5bf;
}
.link a {
  font-size: 15px;
}
.map-control-wrapper,
.control-wrapper {
  min-height: 95vh;
  margin-top: 1rem;
}
.control-item {
  margin: 0.3rem auto;
  width: 100%;
}
.filter-item {
  margin-top: 0.7rem;
}
.filter-label {
  margin: 0.3rem 0;
  font-size: 14px;
  color: grey;
}
.filter-slider {
  width: 90%;
  margin: auto;
}
.map-controls.left-filter {
  box-shadow: 3px 1px 6px #6161612b;
}
.map-controls.right-filter {
  box-shadow: -2px 2px 6px #6161612b;
}
.control-wrapper.right-filter {
  box-shadow: -2px 4px 6px #6161612b;
}
.map-controls,
.control-inner {
  padding: 0 0.5rem;
  margin: 0;
  z-index: 999;
}
.control-inner {
  background: none;
}
.header-wrapper {
  font-family: "PFDinTextCondProRegular";
  background: #3c3e4c;
}
.header-content {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 2px white solid;
}
.avatar {
  height: 55px;
  width: auto;
}
.video-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video-item {
  margin: 0.5rem;
}
.el-menu {
  border-right: none;
}
.filter-btn-group,
.table-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-btn-group button {
  min-width: 120px;
}
.table-btn-group,
.table-btn-group button {
  margin: 0.2rem 0 !important;
}
.filter-btn-group {
  margin-top: 1rem;
}
.filter-btn-group button {
  margin: 0.2rem;
  max-width: 190px;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}
.pagination li {
  font-weight: normal;
  font-size: 0.85rem;
}
